@use "../../../styles/system/_shortcuts.scss" as *;
 
.contact{
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;

    @include hb((
        xxs: (height: 200vh, padding: 10vh 3.5vw),
        smt: (height: 100vh),
        md: (height: 120vh),
        lg: (height: 100vh)
    ));
    @include vb((
        xs: (height: 180vh, padding: 10vh 3.5vw),
        sm: (height: 150vh, padding: 10vh 3.5vw),
        md: (height: 100vh, padding: 20vh 3.5vw)
    ));

    // TODO: Add responsive desiung from SM H viewport and Verticall veiports
    // TODO: Add reposive design to Trafika Website


    .title{
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include hb((
            xxs: (height: 20%)
        ));
        @include vb((
            xs: (height: 12.5%),
            md: (height: 20%)
        ));

        h1{
            span{
                @include font(h2);
                font-weight: 300;
                color: var(--whiteText);
                font-family: Helvetica, sans-serif;
            }
        }
    }
    .forms{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include hb((
            xxs: (height: 70%, flex-direction: column),
            smt: (height: 60%, flex-direction: row),
            md: (height: 70%, flex-direction: row),
            lg: (height: 60%)
        ));
        @include vb((
            xs: (height: 100%, flex-direction: column, gap: 5%),
            sm: (height: 100%, flex-direction: column, gap: 5%)
        ));


        .contact__form__container{
            position: relative;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            @include hb((
                xxs: (width: 100%),
                smt: (width: 60%),
                md: (width: 60%),
                lg: (width: 60%)
            ));
            @include vb((
                xs: (width: 100%),
            ));
    
            .contact__form{
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end; 
    
                form{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start; 
                    flex-direction: column;
    
                    .contact__form__input__fullname{
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;

                        @include hb((
                            xxs: (height: 20%)
                        ));
                        @include vb((
                            xs: (height: 12.5%),
                            md: (height: 20%)
                        ));
    
                        .contact__form__input__fullname__name{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: flex-start;
                            flex-direction: column;
                            border: #fff 1px solid;
                            gap: 1vh;
                            color: var(--whiteText);

                            @include hb((
                                xxs: (justify-content: flex-end, padding: 1vw 1vw)
                            ));
                            @include vb((
                                xs: (justify-content: flex-start, padding: 1vh 1vh),
                                md: (justify-content: flex-end, padding: 1vw 1vw)
                            ));
    
                            label{ 
                                @include font(label);
                                font-weight: 300;
                                text-transform: uppercase;
                                font-family: 'Times New Roman', Times, serif;
                                margin: 0;
                                color: var(--redText);
                                border-bottom: 0.25px solid rgb(255, 255, 255, 0.5);
                            }
    
                            input {
                                width: 100%;
                                background: transparent;
                                border: none;
                                outline: none;
                                box-shadow: none;
                                padding: 0;
                                margin: 0;
                                color: var(--whiteText);
                                @include font(input);
                                font-weight: 300;
                                font-family: Helvetica;
                                margin-left: 1rem;
                                
                                
                                /* Remove browser default styles */
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                appearance: none;
                                
                                /* Remove auto-fill background in Chrome */
                                &:-webkit-autofill,
                                &:-webkit-autofill:hover,
                                &:-webkit-autofill:focus {
                                    -webkit-text-fill-color: var(--whiteText);
                                    transition: background-color 5000s ease-in-out 0s;
                                    box-shadow: 0 0 0px 1000px transparent inset;
                                }
                                
                                /* Placeholder styling */
                                &::placeholder {
                                    color: var(--whiteText);
                                
                                }
                                
                                /* Remove focus ring */
                                &:focus {
                                    outline: none;
                                    border: none;
                                    box-shadow: none;
                                }
                            }
                        }
                    }
    
                    .contact__form__input__inputs{
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;

                        @include hb((
                            xxs: (height: 20%, flex-direction: row)
                        ));
                        @include vb((
                            xs: (height: 25%,flex-direction: column),
                            md: (height: 20%, flex-direction: row)
                        ));
    
                        .contact__form__input__inputs__email{
                            height: 100%;
                            display: flex;
                            align-items: flex-start;
                            flex-direction: column;
                            border: #fff 1px solid;
                            gap: 1vh;
                            color: var(--whiteText);

                            @include hb((
                                xxs: (width: 50%, justify-content: flex-end, padding: 1vw 1vw)
                            ));

                            @include vb((
                                xs: (width: 100%, justify-content: flex-start, padding: 1vh 1vh),
                                md: (width: 50%, justify-content: flex-end, padding: 1vw 1vw)
                            ));

    
                            label{ 
                                @include font(label);
                                font-weight: 300;
                                text-transform: uppercase;
                                font-family: 'Times New Roman', Times, serif;
                                margin: 0;
                                color: var(--redText);
                                border-bottom: 0.25px solid rgb(255, 255, 255, 0.5);
                            }
    
                            input {
                                width: 100%;
                                background: transparent;
                                border: none;
                                outline: none;
                                box-shadow: none;
                                padding: 0;
                                margin: 0;
                                color: var(--whiteText);
                                @include font(input);
                                font-weight: 300;
                                font-family: Helvetica;
                                margin-left: 1rem;
                                
                                /* Remove browser default styles */
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                appearance: none;
                                
                                /* Remove auto-fill background in Chrome */
                                &:-webkit-autofill,
                                &:-webkit-autofill:hover,
                                &:-webkit-autofill:focus {
                                    -webkit-text-fill-color: var(--whiteText);
                                    transition: background-color 5000s ease-in-out 0s;
                                    box-shadow: 0 0 0px 1000px transparent inset;
                                }
                                
                                /* Placeholder styling */
                                &::placeholder {
                                    color: var(--whiteText);
                                
                                }
                                
                                /* Remove focus ring */
                                &:focus {
                                    outline: none;
                                    border: none;
                                    box-shadow: none;
                                }
                            }
                        }
    
                        .contact__form__input__inputs__phone{
                            height: 100%;
                            display: flex;
                            align-items: flex-start;
                            flex-direction: column;
                            border: #fff 1px solid;
                            gap: 1vh;
                            color: var(--whiteText);

                            @include hb((
                                xxs: (width: 50%, justify-content: flex-end, padding: 1vw 1vw)
                            ));

                            @include vb((
                                xs: (width: 100%, justify-content: flex-start, padding: 1vh 1vh),
                                md: (width: 50%, justify-content: flex-end, padding: 1vw 1vw)
                            ));
    
                            label{ 
                                @include font(label);
                                font-weight: 300;
                                text-transform: uppercase;
                                font-family: 'Times New Roman', Times, serif;
                                margin: 0;
                                color: var(--redText);
                            }
    
                            .phone__input{
                                width: 100%;
                                height: fit-content;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                flex-direction: row;
                                select{
                                    width: fit-content;
                                    background: transparent;
                                    border: none;
                                    outline: none;
                                    box-shadow: none;
                                    padding: 0;
                                    margin: 0;
                                    color: var(--whiteText);
                                    @include font(input);
                                    font-weight: 300;
                                    font-family: Helvetica;
                                    margin-left: 1rem;

                                    select option {
                                        font-size: 1.2rem;
                                        font-family: Helvetica;
                                    }
                                    
                                    
                                    /* Remove auto-fill background in Chrome */
                                    &:-webkit-autofill,
                                    &:-webkit-autofill:hover,
                                    &:-webkit-autofill:focus {
                                        -webkit-text-fill-color: var(--whiteText);
                                        transition: background-color 5000s ease-in-out 0s;
                                        box-shadow: 0 0 0px 1000px transparent inset;
                                    }
                                    
                                    /* Placeholder styling */
                                    &::placeholder {
                                        color: var(--whiteText);
                                    
                                    
                                    }
                                    
                                    /* Remove focus ring */
                                    &:focus {
                                        outline: none;
                                        border: none;
                                        box-shadow: none;
                                    }
                                }

                                input {
                                    width: 100%;
                                    background: transparent;
                                    border: none;
                                    outline: none;
                                    box-shadow: none;
                                    padding: 0;
                                    margin: 0;
                                    color: var(--whiteText);
                                    @include font(input);
                                    font-weight: 300;
                                    font-family: Helvetica;
                                    margin-left: 1rem;
                                    
                                    /* Remove browser default styles */
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                    
                                    /* Remove auto-fill background in Chrome */
                                    &:-webkit-autofill,
                                    &:-webkit-autofill:hover,
                                    &:-webkit-autofill:focus {
                                        -webkit-text-fill-color: var(--whiteText);
                                        transition: background-color 5000s ease-in-out 0s;
                                        box-shadow: 0 0 0px 1000px transparent inset;
                                    }
                                    
                                    /* Placeholder styling */
                                    &::placeholder {
                                        color: var(--whiteText);
                                    
                                    }
                                    
                                    /* Remove focus ring */
                                    &:focus {
                                        outline: none;
                                        border: none;
                                        box-shadow: none;
                                    }
                                }
                            }
                        }
                    }
    
                    .contact__form__input__message{
                        width: 100%;
                        position: relative;
                        height: 45%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: column;
                        border: #fff 1px solid;
                        gap: 1vh;

                        @include hb((
                            xxs: (padding: 1vw 1vw)
                        ));

                        @include vb((
                            xs: (padding: 1vh 1vh),
                            md: (padding: 1vw 1vw)
                        ));
    
                        .contact__form__input__message__hashtag{
                            position: absolute;
                            right: 0;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            flex-direction: row;
                            gap: 0.5rem;

                            @include hb((
                                xxs: (top: 0, padding: 0.5rem 2rem, width: 45%, height: 50%)
                            ));

                            @include vb((
                                xs: (bottom: 0, padding: 0.25rem 1rem, width: 75%, height: 30%),
                                md: (top: 0, padding: 0.5rem 2rem, width: 45%, height: 50%)
                            ));
    
                            .hashtagButton__label{
                                .span{
                                    @include font(SLinks);
                                }
                            }
                        }
    
                        .label{ 
                            @include font(label);
                            font-weight: 300;
                            text-transform: uppercase;
                            font-family: 'Times New Roman', Times, serif;
                            margin: 0;
                            color: var(--redText);
                            border-bottom: 0.25px solid rgb(255, 255, 255, 0.5);
                        }
    
                        textarea {
                            width: 100%;
                            height: 100%;
                            background: transparent;
                            border: none;
                            outline: none;
                            box-shadow: none;
                            padding: 0;
                            margin: 0;
                            color: var(--whiteText);
                            @include font(input);
                            font-weight: 300;
                            font-family: Helvetica;
                            margin-left: 1rem;
                            resize: none; 
                            
                            /* Remove browser default styles */
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            
                            /* Remove auto-fill background in Chrome */
                            &:-webkit-autofill,
                            &:-webkit-autofill:hover,
                            &:-webkit-autofill:focus {
                                -webkit-text-fill-color: var(--whiteText);
                                transition: background-color 5000s ease-in-out 0s;
                                box-shadow: 0 0 0px 1000px transparent inset;
                            }
                            
                            /* Placeholder styling */
                            &::placeholder {
                                color: var(--whiteText); 
                                
                            }
                            
                            /* Remove focus ring */
                            &:focus {
                                outline: none;
                                border: none;
                                box-shadow: none;
                            }
                        }
                    }
    
                    .contact__form__input__send{
                        width: 100%;
                        height: fit-content;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-end;
                        z-index: 2;
    
                        .contact__form__input__send__gdpr{
                            width: 50%;
                            height: 100%;
                            display: flex;
                            justify-content: flex-end;
                            align-items: flex-end;
                            flex-direction: column;
                            border: #fff 1px solid;
                            padding: 1vh 1vw;
                            gap: 1vh;
                            color: var(--whiteText);
                            z-index: 1;
    
                            p{
                                width: 100%;
                                text-align: left;
                                @include font(legal);
                                font-weight: 300;
                                font-family: Helvetica;
                                margin: 0;
                            }

                            .footer__links__creator__link__container__text{
                                margin-top: 2px;

                                .spanSubLink {
                                    @include font(SLinks);
                                    font-weight: 300;
                                    font-family: Helvetica;
                                    display: inline-block;  
                                }
                            }
                        }
    
                        .contact__form__send__button{
                            width: 50%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            z-index: 2;
    
                            .cta__button{
                                width: 100%;
                                height: 100%;

                                .cta__button__container{
                                    span{
                                        @include font(BCTA);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .contact__info{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            @include hb((
                xxs: (flex-direction: row, width: 100%, height: 100%, gap: 5%),
                smt: (flex-direction: column, width: 35%, gap: 10%),
                md: (flex-direction: column, width: 35%, gap: 10%),
            ));
            @include vb((
                xs: (flex-direction: column, width: 100%, height: 50%, gap: 5% ),
                sm: (flex-direction: column, width: 100%, height: 40%, gap: 5% ),
                lg: (flex-direction: row, width: 100%, height: 50%, gap: 5% )
            ));


            .contact__info__wrapper{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                @include hb((
                    xxs: (height: 80%),
                    smt: (height: 50%),
                    md: (height: 50%),
                    lg: (height: 100%)
                ));
                @include vb((
                    xs: (height: 60%),
                    sm: (height: 100%),
                ));

                .contact__info__item{
                    width: 50%;
                    height: 50%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    border: 1px solid #ffff;
                    padding: 0.5rem 1rem;
                    

                    h3{
                        color: var(--whiteText);
                        text-transform: uppercase;
                        margin: 0;
                        padding: 0;
                        @include font(SBody);
                        font-weight: 300;
                        font-family: Helvetica, sans-serif;
                        border-bottom: 0.5px solid rgb(255, 255, 255, 0.5);
                    }
                    p{
                        margin: 0;
                        padding: 0;
                        @include font(legal);
                        font-weight: 300;
                        font-family: Helvetica, sans-serif;
                        color: var(--whiteText);
                        width: 100%;
                        height: fit-content;

                    }


                    .footer__links__creator__link{
                        .footer__links__creator__link__container{
                            .footer__links__creator__link__container__text{
                                margin-top: 2px;
                                p{
                                    color: var(--whiteText);
                                    .a{
                                        margin: 0;
                                        padding: 0;
                                        @include font(SLinks);
                                        font-weight: 300;
                                        font-family: Helvetica, sans-serif;
                                        text-decoration: none;
                                        width: 100%;
                                        height: fit-content;
                                    }
                                    &:nth-of-type(2){
                                        color: var(--redText)
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .contact__form__header{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                flex-direction: column;

                @include hb((
                    xxs: (height: 80%),
                    smt: (height: 50%),
                    md: (height: 50%),
                    lg: (height: 100%)
                ));
                @include vb((
                    xs: (height: 100%),
                    sm: (height: 100%)
                ));
                .contact__form__header__contact{
                    width: 100%;
                    height: 60%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    flex-direction: column;
                    border: #fff 1px solid;
                    padding: 1vw 1vw;
                    gap: 0.5vh;
                    color: var(--whiteText); 

                    .contact__form__header__contact__title{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        flex-direction: row;

                        h4{

                            @include hb((
                                xxs: (display: block)
                            ));
                            @include vb((
                                xs: (display: none),
                                lg: (display: block)
                            ));
                            width: fit-content;
                            text-align: left;
                            @include font(SBody);
                            text-transform: uppercase;
                            font-weight: 400;
                            font-family: Helvetica;
                            margin: 0;
                            // Text gradient implementation
                            background: linear-gradient(90deg, #FFF, #039ca4);
                            -webkit-background-clip: text;
                            background-clip: text;
                            color: transparent;
                            -webkit-text-fill-color: transparent;
                        }

                        .tablet{
                            @include hb((
                                xxs: (display: none)
                            ));
                            @include vb((
                                xs: (display: block),
                                lg: (display: none)
                            ));

                            width: fit-content;
                            text-align: left;
                            @include font(SBody);
                            text-transform: uppercase;
                            font-weight: 400;
                            font-family: Helvetica;
                            margin: 0;
                            // Text gradient implementation
                            background: linear-gradient(90deg, #FFF, #039ca4);
                            -webkit-background-clip: text;
                            background-clip: text;
                            color: transparent;
                            -webkit-text-fill-color: transparent;
                        }


                        .phone{
                            @include font(MBody);
                            text-decoration: none;
                            font-weight: 300;
                            font-family: Helvetica;
                            margin: 0;
                        }

                    }

                    .divider{
                        width: 100%;
                        height: 1px;
                        background-color: var(--whiteBG);
                        margin-top: 0.25rem;
                    }
                
                    .contact__form__header__contact__text{
                        width: 100%;
                        height: fit-content;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 1rem;
                        padding-top: 0.25rem;
                        p{
                            width: fit-content;
                            text-align: left;
                            @include font(XSBody);
                            font-weight: 300;
                            font-family: Helvetica;
                            margin: 0;
                        }

                        .divider{
                            width: 1px;
                            height: 2vh;
                            background-color: var(--whiteBG);
                        }
                    }
                }
                .contact__form__header__intro{
                    width: 100%;
                    height: 40%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    flex-direction: row;
                    border: #fff 1px solid;
                    gap: 1vh;
                    color: var(--whiteText);
                    h4{
                        width: 100%;
                        text-align: left;
                        @include font(XSBody);
                        font-weight: 300;
                        font-family: Helvetica;
                        margin: 0;
                        padding: 1vw 1vw;
                    }

                    .cta__button{
                        height: 100%;
                        width: 200px;

                        .cta__button__container{
                            span{
                                @include font(SCTA)
                            }
                        }
                    }
                }
            }
            .divider{
                width: 90%;
                height: 1px;
                background-color: var(--whiteBG);

            }

        }
    }
}