@use "../../styles/system/_shortcuts.scss" as *;
.pageNotFound{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;

    h1{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .span{
            @include font(404);
            font-family: 'Times New Roman', Times, serif;
            font-weight: 300;
            color: var(--whiteText);
            text-transform: uppercase;
            margin: 0;
            background: linear-gradient(90deg, #fff, #039ca4);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            -webkit-text-fill-color: transparent;
        }
    }

    h2{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .span{
            @include font(h3);
            font-weight: 300;
            color: var(--whiteText);
            text-transform: uppercase;
            margin: 0;
            font-family: Helvetica
        }

    }
}