@use "../../styles/system/_shortcuts.scss" as *;
 
.TermsContent {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    color: var(--whiteText);

    .cover{
        width: 100%;
        height: 100vh;
        width: 100vw;
        z-index: 56;
        position: relative;

        .cover__header{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            h1{
                position: relative;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                // Text gradient implementation
                background: linear-gradient(90deg, #FFF, #039ca4);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
                font-family: Helvetica;

                .span{
                    @include font(h2);
                    font-weight: 300;
                    margin: 0;
                    line-height: 1.3;

                }
            }
        }

        .cover__desc{
            position: absolute;
            right: 10%;
            bottom: 10%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 0.5rem;
            height: 10%;
            padding-left: 10%;

            @include hb ((
                xxs:  (width: 40%)
            ));
            @include vb ((
                xs:  (width: 80%),
                md:  (width: 50%)
            ));
            p{
                display: inline-block;
                @include hb ((
                    xxs:  (width: 70%)
                ));
                @include vb ((
                    xs:  (width: 100%)
                ));
                span{
                    font-size: 1.1rem;
                    font-weight: 300;
                    margin: 0;
                    color: var(--whiteText);
                    font-family: Helvetica;
                    text-transform: uppercase;
                }
            }
            
        }
    }

    .info__content {
        display: flex;
        justify-content: center;
        min-height: 100vh;
        width: 100vw;
        font-size: 1rem;
        font-weight: 300;
        text-align: left;
        gap: 2rem;
        position: relative;
        z-index: 5;
        border-bottom: 1px solid #5E758D;

        .info__block__main {
            display: flex;
            flex-direction: column;
            gap: 5rem;
            border-left: 1px solid #5E758D;

            @include hb((
                xxs: (width: 100%, padding: 0 10rem 0 2rem),
                smt: (width: 70%, padding: 0 5rem 0 2rem),
                md: (width: 70%, padding: 0 5rem 0 2rem),
                xl: (width: 70%)
            ));
            @include vb((
                xs: (width: 100%, padding: 0 1rem 0 2rem),
                md: (width: 75%, padding: 0 2.5rem 0 2rem),
            ));

            .info__block__section {
                text-align: left;

                h2 {
                    @include font(MBody);
                    font-weight: 500;
                    margin-bottom: 1rem;
                    background: linear-gradient(90deg, #fff, #039ca4);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    -webkit-text-fill-color: transparent;
                    border-bottom: 1px solid #5E758D;
                }

                p {
                    @include font(SBody);
                    line-height: 1.5;
                    font-weight: 300;
                    margin-bottom: 1rem;
                    color: var(--whiteText);
                }
            }
        }

        .info__page__navbar {
            padding: 2rem 0;

            @include hb((
                xxs: (display: none),
                smt: (display: block, width: 30%),
                md: (display: block, width: 25%),
            ));

            @include vb((
                xs: (display: none),
                md: (display: block, width: 30%),
            ));

            .info__page__stickyBar {
                position: sticky;
                top: 15%;
                display: flex;
                flex-direction: column;
                padding: 2rem;
                border-bottom: 1px solid #5E758D;
                border-top: 1px solid #5E758D;

                h3 {
                    @include font(h4);
                    font-weight: 500;
                    padding: 1rem 0;
                    margin: 0;
                    width: 80%;
                    background: linear-gradient(90deg, #fff, #039ca4);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    -webkit-text-fill-color: transparent;
                }

                .info__page__ul {
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    margin: 0;

                    .info__page__li {
                        display: flex;
                        align-items: center;
                        padding: 0.2em 0;
                        list-style: none;

                        .info__page__dot {
                            min-width: 0.6rem;
                            min-height: 0.6rem;
                            background-color: #04444C;
                            border-radius: 50%;
                            transition: all 0.3s ease;
                        }

                        a {
                            color: var(--whiteText);
                            @include font(SCTA);
                            text-decoration: none;
                            padding: 0 0.5rem;
                            transition: opacity 0.3s ease;
                        }

                        &:hover {
                            .info__page__dot {
                                background-color: #00F0FF;
                            }
                            a {
                                opacity: 0.6;
                            }
                        }
                    }
                }
            }
        }
    }

    .Cookies__Button{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 90%;
        height: 20vh;
        gap: 5rem;

        p{
            @include font (MBody);
            font-weight: 300;
            color: var(--whiteText);
            margin: 0;
        }
    }
}