@use "../../../styles/system/_shortcuts.scss" as *;
 

.trafika__galery{
    position: relative;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
    gap: 5vh;
    z-index: 1;

    .cursor{
        position: fixed;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        z-index: 10;
        background-color: #0F4A57;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        background: linear-gradient(90deg, #0F4A57, #039ca4, #0F4A57);

        p{
            @include font(SBody);
            font-weight: 300;
            color: var(--whiteText);
            margin: 0;
        }
    }


    .trafika__galery__list{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: -1;
        overflow: hidden;

        @include hb((
            xxs: (height: 320px),
            xs: (height: 350px),
            smt: (height: 400px),
            mdt: (height: 600px),
            md: (height: 550px),
            xl: (height: 750px),
            huge: (height: 750px)
        ));

        @include vb((
            xs: (height: 450px),
            sm: (height: 450px),
            s: (height: 500px),
            md: (height: 550px),
        ));

        .trafika__galery__list__items{
            max-width: 100%;  
            position: relative;
            display: flex;
            flex-direction: row;
            height: 100%;
            gap: 1vw;
            z-index: 1;
            cursor:grab;
            will-change: transform;

            &:active{
                cursor: grabbing;
            }

            .trafika__galery__list__item__vertical{
                flex:  0 0 auto;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateZ(0); // Hardware acceleration

                @include hb((
                    xxs: (width: 250px, height: 300px),
                    xs: (width: 260px, height: 320px),
                    smt: (width: 300px, height: 400px),
                    mdt: (width: 400px, height: 550px),
                    md: (width: 400px, height: 500px),
                    xl: (width: 550px, height: 700px),
                ));

                @include vb((
                    xs: (width: 250px, height: 400px),
                    sm: (width: 250px, height: 400px),
                    s: (width: 300px, height: 450px),
                    md: (width: 400px, height: 500px),
                ));

                .trafika__galery__list__item__container{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    position: relative;
                    overflow: hidden;

                    .trafika__galery__list__item__image{
                        position: absolute;
                        z-index: 0;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        pointer-events: none;
                    }

                    .trafika__galery__list__item__text{
                        width: 100%;
                        height: 30%;
                        display: flex;
                        z-index: 1;
                        justify-content: flex-end;
                        align-items: flex-end;
                        flex-direction: column;
                        padding: 5vh 2.5vw;
                        gap: 1vh;
                        color: var(--redText);

                        h5{
                            @include font(h4);
                            font-weight: 300;
                            text-transform: capitalize;
                            font-family: "Arimo", sans-serif;
                            color: var(--redText);
                            margin: 0;
                            overflow: hidden;
                            position: relative;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            
                        }

                        p{ 
                            @include font(MBody);
                            font-weight: 300;
                            font-family: Helvetica;
                            margin: 0;
                            overflow: hidden;
                            position: relative;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            
                        }
                    }
                }
            }
            .trafika__galery__list__item__horizontal{
                flex:  0 0 auto;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateZ(0); // Hardware acceleration

                @include hb((
                    xxs: (width: 500px, height: 300px),
                    xs: (width: 520px, height: 320px),
                    smt: (width: 600px, height: 400px),
                    mdt: (width: 850px, height: 550px),
                    md: (width: 800px, height: 500px),
                    xl: (width: 1100px, height: 700px),
                ));

                @include vb((
                    xs: (width: 350px, height: 300px),
                    sm: (width: 350px, height: 300px),
                    s: (width: 400px, height: 300px),
                    md: (width: 700px, height: 500px),
                ));

                .trafika__galery__list__item__container{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    position: relative;
                    overflow: hidden;

                    .trafika__galery__list__item__image{
                        position: absolute;
                        z-index: 0;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        pointer-events: none;
                    }

                    .trafika__galery__list__item__text{
                        width: 100%;
                        height: 30%;
                        display: flex;
                        z-index: 1;
                        justify-content: flex-end;
                        align-items: flex-end;
                        flex-direction: column;
                        padding: 5vh 2.5vw;
                        gap: 0.5vh;
                        color: var(--redText);

                        h5{
                            @include font(h4);
                            font-weight: 300;
                            text-transform: capitalize;
                            font-family: "Arimo", sans-serif;
                            color: var(--redText);
                            margin: 0;
                            overflow: hidden;
                            position: relative;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            
                        }

                        p{ 
                            @include font(MBody);
                            font-weight: 300;
                            font-family: Helvetica;
                            margin: 0;
                            overflow: hidden;
                            position: relative;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            
                        }
                    }
                }
            }
        }
    }

    .button__bar{
        position: absolute;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

        @include hb((
            xxs: (height: 50px, bottom: -5%),
            md: (height: 50px, bottom: 2.5%)
        ));

        @include vb((
            xs: (height: 60px, bottom: 0),
        ));

        .button_bar_container{
            position: relative;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            padding: 0.25rem 1rem;
            border-radius: 15px;

            @include hb((
                xxs: (width: 70%),
                xs: (width: 60%),
                md: (width: 40%),
                xl: (width: 30%)
            ));

            @include vb((
                xs: (width: 90%),
                md: (width: 60%),
                lg: (width: 50%)
            ));

            .text{
                position: absolute;
                bottom: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 80%;
                color: var(--whiteText);
                border-bottom: 1px solid rgb(255, 255, 255, 0.5);
                margin-bottom: 0.25rem;

                p{
                    margin: 0;
                    @include font(SBody);
                }
            }

            .button__container{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;

                .cta__button__link{
                    @include hb((
                        xxs: (width: 175px),
                    ));

                    @include vb((
                        xs: (width: 125px),
                        md: (width: 175px),
                    ));
                }
            }
        }
    }
}