@use "../../../styles/system/_shortcuts.scss" as *;
 
@use '../../../styles/system/index.scss' as sys;

.cookies__bar{
    position: fixed;
    bottom: 2.5vh;
    right: 2.5vw;
    z-index: 80;
    background-color: rgba(0, 0, 0, 0.5);
    width: 600px;
    height: 200px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    

    @include sys.h(xl){
        width: 650px;
        height: 250px;
    }
    .cookies__bar__text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.5rem;
        padding: 1rem 0;
        p{
            color: var(--whiteText);
            font-size: 1rem;
            margin: 0;
            text-align: left;
            text-transform: uppercase;
            @include sys.font(SBody);

            a{
                color: #00F0FF;
                text-decoration: none;
                margin-left: 1rem;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        
    }

    .cookies__bar__buttons{
        display: flex;
        gap: 2.5rem;
        justify-content: space-between;
        align-items: center;

        .cookies__bar__buttons__button{
            display: flex;
            justify-content: center;
            gap: 1rem;
            align-items: center;
            .hashtagButton{
                width: 100px;
                @include sys.h(xl){
                    width: 130px;
                    height: 35px;
                }
                .hashtagButton__container{
                    pointer-events: none;
                }
            }
        }

        .cookies__bar__buttons__settings{
            .hashtagButton{
                width: 100px;

                @include sys.h(xl){
                    width: 130px;
                    height: 35px;
                }
                .hashtagButton__container{
                    pointer-events: none;
                }
            }
        }
    }
}