@use "../../../styles/system/_shortcuts.scss" as *;
 
.footer{
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    gap: 1vh;
    padding-bottom: 10vh;

    .footer__links{
        width: 100%;
        height: 100%;
        padding: 0 5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 0.5vh;


        .footer__links__contents{
            width: 100%;
            height: 100%;
            display: flex;  
            @include hb((
                xxs: (flex-direction: row, justify-content: space-between, align-items: flex-end),
            ));
            @include vb((
                xs: (flex-direction: column, justify-content: flex-end, align-items: center),
                md: (flex-direction: row, justify-content: space-between, align-items: flex-end),
            ));

            .footer__links__creator{
                display: flex;
                align-items: flex-end;
                height: auto;

                @include hb((
                    xxs: (width: 45%),
                    xs: (width: 35%)
                ));
                @include vb((
                    xs: (width: 100%, justify-content: center),
                    md: (width: 40%),
                    lg: (width: 35%)
                ));
            }

            .footer__links__title{
                width: 30%;
                justify-content: center;
                align-items: center;
                flex-direction: row;

                @include hb((
                    xxs: (display: none),
                    smt: (display: flex),
                    md: (display: flex),
                ));
                @include vb((
                    xs: (display: none),
                ));
                h2{
                    width: 100%;
                    @include font(h4);
                    font-weight: 300;
                    font-family: Helvetica;
                    color: var(--whiteText);
                    margin: 0;
                    text-align: center;
                }
            }

            .footer__links__sublinks{
                display: flex;
                align-items: flex-end;
                flex-direction: row;
                gap: 2rem;

                @include hb((
                    xxs: (width: 55%, justify-content: flex-end),
                    xs: (width: 40%),
                    smt: (width: 35%),
                    md: (width: 35%),
                ));
                @include vb((
                    xs: (width: 100%, justify-content: center),
                    md: (width: 50%, justify-content: flex-end),
                    lg: (width: 40%)
                ));
            }
        }
        .divider{
            width: 100%;
            height: 1px;
            background-color: var(--whiteBG);
        }

        .footer__links__copyright{
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                @include font(legal);
                font-weight: 300;
                font-family: Helvetica;
                color: var(--whiteText);
                margin: 0;
            }
        }
    }

}